body{
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
}
h1{
    text-align: center;
    padding: 1rem;
    font-size: 3rem ;
}
h2{
    color: #707070;
    font-size: 1.5rem;
}

section{
    display: flex;
    
}
img{
    max-width: 100%;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 256; */
}

.container{
    max-width: 980px;
    width: 50%;
    margin: 0 auto;
    background-color: #FFF;
    color: black;
}

.columns{
    margin: 0.5rem;
}

.col{
    margin: 1rem;
    text-align: left;
    padding: 0.9rem;
    font-size: 1.05rem;
}

.colored{
    background-color: #312614;
    color: white;
}
.side{
    max-width: 160px;
}
span{
    color: #B7832F;
}

