/* DON'T TOUCH THIS! */

body {
	color: white;
	font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 0;
}

.card {
	width: 100%;
	background: black;
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

.Text {
	font-size: 1.2rem;
	padding: 2em;
}
.title {
	text-transform: uppercase;
	border-bottom: 10px solid white;
    padding: 1em;
    font-size: 3rem;
	width: 400px;
	margin: 0 auto;
}
/* DON'T TOUCH THIS! */

/* ==========================
	Write your solution here!
   ========================== */